.holdImage {
  width: 46%;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  z-index: -7;
}

.holdImage img {
  width: 100%;
  height: 100%;
}

.holdText {
  width: 100%;
  height: 400px;
  background-color: #00000096;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.holdText h1 {
  color: #c9c9c9;
  font-size: 31px;
  padding: 25px;
  margin: 0;
  line-height: 45px;
}

.holdText p {
  color: #922828;
  font-size: 18px;
  padding: 0 25px;
  margin: 0;
  line-height: 45px;
  margin-bottom: 30px;
}

.holdSmallMusi1 {
  width: 200px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.holdSmallMusi2 {
  width: 200px;
  height: 180px;
}

.holdSmallMusi3 {
  width: 100%;
  height: 100%;
}

.holdSmallMusi4 {
  padding: 10px;
  background-color: black;
}

.holdSmallMusi4 h5 {
  font-size: 20px;
  margin: 0;
  color: #912828;
}

.holdSmallMusi4 p {
  font-size: 17px;
  margin: 0;
  font-weight: bold;
  color: white;
}

.holdSmallMusi {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

.LatestMusic {
  font-size: 25px;
  margin: 25px 0 0px 0;
  color: black;
}

.LatestMusic h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.holdVideo {
  margin-top: 20px;
  /* border-top: 2px solid black; */
  padding-top: 10px;
}
